.map {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    // border: 1px solid rgb(225, 95, 65);
}

nz-select {
    width: 200px;
}

.list {
    top: 102px;
    z-index: 99;
    position: absolute;
    margin-left: 70px;
    padding-left: 10px;
    background-color: white;
}

.createService {
    // height: 20px;
    top: 102px;
    right: 20px;
    z-index: 99;
    position: absolute;
    border: 1px solid red;
}

nz-checkbox-group {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

// ::ng-deep .ant-checkbox-wrapper {
//     color: white;
// }
// ::ng-deep .ant-checkbox-disabled+span {
//     color: rgb(179, 212, 243);
// }