<div #mapOrthophoto class="map"></div>
<div class="list">
    <ul nz-list [(nzDataSource)]="services" nzBordered [nzHeader]="'服务列表'" [nzRenderItem]="largeItem">
        <ng-template #largeItem let-item>
            <li nz-list-item [nzActions]="[opAction]" [nzContent]="item.serviceName" nzNoFlex>
                <nz-switch [nzDisabled]="item.disabled" [(ngModel)]="item.checked" (ngModelChange)="select(item)">
                </nz-switch>
            </li>
            <ng-template #opAction><a (click)="start(item)">启动</a>&nbsp;&nbsp;<a (click)="stop(item)">停止</a></ng-template>
        </ng-template>
    </ul>

</div>
<div class="createService">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="输入服务名称" [(ngModel)]="nameToCreate" />
    </nz-input-group>
    <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="createService()">Create</button>
    </ng-template>
</div>